/*accordion*/

.accordion {
  width: 100%;
}

.accordion-level {
  text-align: left;
  border-bottom: 1px solid #52B5D5;
}

.accordion-sublevel {
  padding: 0 3em;
  color: #000;
}

.accordion-sublevel__item {
  padding: .5em 0;
}

.accordion-sublevel__item:hover {
  color: #8FA5B7;
  cursor: pointer;
}

.accordion__toggle {
  display: block;
  cursor: pointer;
  color: white;
  line-height: 100%;
  padding: .5em 1em;
  background: #4BC5E2;
}

.accordion__toggle:hover {
  color: #000;
}

.on {
  float: right;
}

#elm1:checked ~ .lvl1,
#elm2:checked ~ .lvl2,
#elm3:checked ~ .lvl3,
#elm4:checked ~ .lvl4,
.accordion-level-js .accordion-sublevel {
  background: #f3f5f7;
  border-left: 2px solid #51d0ef;
}

#elm1:checked ~ .lvl1 .accordion__toggle,
#elm2:checked ~ .lvl2 .accordion__toggle,
#elm3:checked ~ .lvl3 .accordion__toggle,
#elm4:checked ~ .lvl4 .accordion__toggle {
  background: #52B5D5;
}

#elm1 ~ .lvl1 .accordion-sublevel,
#elm2 ~ .lvl2 .accordion-sublevel,
#elm3 ~ .lvl3 .accordion-sublevel,
#elm4 ~ .lvl4 .accordion-sublevel,
.accordion-level-js.accordion--hide .accordion-sublevel {
  height: 0;
  overflow: hidden;
  transition: all .3s ease-in;
}

.accordion-level-js.accordion--hide .sublevel--pop {
  padding:0;
  margin: 0;
  opacity: 0;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: center top;
  transform-origin: center top;
}

.accordion-level-js .sublevel--pop { 
  height:auto;
  padding:2em;
  margin: 0 -1em 1em;
  background: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.16);
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

#elm1:checked ~ .lvl1 .accordion-sublevel,
#elm2:checked ~ .lvl2 .accordion-sublevel,
#elm3:checked ~ .lvl3 .accordion-sublevel,
#elm4:checked ~ .lvl4 .accordion-sublevel,
.accordion-level-js .accordion-sublevel {
  height: 7em;
  overflow: hidden;
  background: #F3F5F6;
  transition: all .3s ease-in;
}

#elm1 ~ .lvl1 .accordion__toggle .on,
#elm2 ~ .lvl2 .accordion__toggle .on,
#elm3 ~ .lvl3 .accordion__toggle .on,
#elm4 ~ .lvl4 .accordion__toggle .on,
.accordion-level-js .accordion__toggle .on {
  transform: rotate(90deg);
  transition: transform .3s ease-in;
}

#elm1:checked ~ .lvl1 .accordion__toggle .on,
#elm2:checked ~ .lvl2 .accordion__toggle .on,
#elm3:checked ~ .lvl3 .accordion__toggle .on,
#elm4:checked ~ .lvl4 .accordion__toggle .on,
.accordion-level-js.accordion--hide .accordion__toggle .on {
  transform: rotate(0);
  transition: transform .3s ease-in;
}