.alert {
  border: 1px solid;
  border-radius: 3px;
  margin: 1em auto;
  padding: 10px;
}

.alert__text {
  display: inline-block;
  font-family: "Roboto", serif;
}

.alert__warning {
  background: #f4dfa0;
  border-color: #f4dfa0;
}

.alert__danger {
  background: #f17f85;
  border-color: #f17f85;
}

.alert__success {
  background: #95f1c2;
  border-color: #95f1c2;
}
