/*card with basic style*/

.card-default {
  width: 370px;
  min-height: 484px;
  border-radius: 3px;
  border: 1px solid #f3f5f7;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(204, 204, 204, 1);
  box-shadow: 0px 2px 3px 0px rgba(204, 204, 204, 1);
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.card-header-img {
  width: 100%;
}

.card-header-img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-header-basic {
  height: 167px;
  width: 100%;
  color: #51d0ef;
  background: #f3f5f7;
  border-top: 1px solid #f3f5f7;
}

.card-title {
  margin: 50px 0 0 0;
  font-size: 39px;
  text-align: center;
}

.card-title-des {
  display: table;
  margin: auto;
  font-size: 17px;
  color: #c6ccd5;
  text-align: center;
  text-transform: uppercase;
}

.card-content-container {
  padding: 33px 33px 25px;
}

.card-content-list {
  width: 220px;
  margin: 31px auto 20px;
  font-size: 16.5px;
  list-style: none;
  text-align: center;
}

.card-content-list-item {
  padding: 10px 0;
}

.card-date {
  font-size: 15px;
  color: #879eb2;
}