*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h3 {
    color: #32383E;
}

input {
    border: 1px solid #E1EDF0;
    border-radius: 3px;
    background-color: #FAFCFF;
    height: 40px;
    width: 100%;
    margin-bottom: 13px;
    padding-left: 25px;
    font-size: 1em;
}


/*** Icons for Input ****/

.fa-user {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

.fa-envelope-o {
    position: absolute;
    margin-left: 6px;
    margin-top: 10px;
}

.fa-lock {
    position: absolute;
    margin-left: 9px;
    margin-top: 10px;
}



form {
    width: 300px;
}

select {
    width: 80px;
    height: 40px;
    padding-left: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.formpassword {
    margin-bottom: 0;
}

select,
input[type="color" i][list] {
    background-color: #FAFCFF;
    border-width: 1px;
    border-style: box;
    border-color: #E7F0F3;
    border-image: initial;
    border-radius: 5px;
}






/*** Birthday ****/


.birthday-container {
    width: 100%;
    height: 50px;
}

.birthday {
    width: 40%;
    text-transform: uppercase;
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 12.5px;
}

.birthday p {
    margin: 20px 10px 20px 10px;
}

.lineleft {
    width: 30%;
    height: 13px;
    margin-top: 25px;
    border-top: 1px solid #E1EDF0;
    border-left: 1px solid #E1EDF0;
    display: inline-block;
    float: left;
    vertical-align: bottom;
}

.lineright {
    width: 30%;
    height: 13px;
    margin-top: 25px;
    border-top: 1px solid #E1EDF0;
    border-right: 1px solid #E1EDF0;
    display: inline-block;
    float: left;
}

.dateday,
.dateyear {
    margin-left: 26px;
}

.dateyear {
    padding-left: 15px;
}

.dates {
    display: inline-block;
    height: 40px;
}

/**Signup Button**/

.btn {
    margin: 10px 0 10px 0;
    border: 1px solid #51D0EF;
    border-radius: 3px;
    color: white;
    background-color: #51D0EF;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 40px;
}

.btn:hover {
    cursor: pointer;
}
