.inputBlock {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.inputBlock__label {
  margin-bottom: 8px;
  color: #7d95ab;
}

.inputBlock__label > em {
  color: #c3ced9;
  padding: 0 2px;
}

.control__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

/*Actual input*/
.inputBlock__control {
  background-color: #FAFCFF;
  border: 1px solid #E1EDF0;
  color: #c3ced9;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  padding-left: 8px;
}

/*Placeholder color*/
.inputBlock__control::-webkit-input-placeholder {
  color: #c3ced9;
}
.inputBlock__control:-moz-placeholder {
  color: #c3ced9;
}
.inputBlock__control::-ms-input-placeholder {
  color: #c3ced9;
}

/*Right and left radius on input depending on whether right or left addOns*/
.control--lftRadius {
  border-radius: 3px 0 0 3px;
}

.control-rtRadius {
  border-radius: 0 3px 3px 0;
}

.inputBlock__addOn {
  height: 100%;
  padding: 0 10px;
  border: 1px solid #E1EDF0;
  border-radius: 3px;
  background: #c3ced9;
  color: #fff;
}

.inputBlock--addOnLeft {
  border-radius: 3px 0 0 3px;
  border-right: none;
}

.inputBlock--addOnRight {
  border-radius: 0 3px 3px 0;
  border-left: none;
}

/*Input sizes and pasitioning of addon.*/

.inputBlock__control:focus {
  outline: none;
}

/*Small Input*/
.inputBlock--sm {
  height: 28px;
}
.inputBlock--sm > .inputBlock__addOn  {
  padding-top: 4px;
}
.inputBlock--sm > .inputBlock__insetAddon {
  margin-top: 4px;
  font-size: 1.45rem;
}

/*Medium Input*/
.inputBlock--md {
  height: 36px;
}
.inputBlock--md > .inputBlock__addOn {
  padding-top: 8px;
}
.inputBlock--md > .inputBlock__insetAddon {
  margin-top: 7px;
  font-size: 1.5rem;
}

/*Large Input*/
.inputBlock--lg {
  height: 45px;
}
.inputBlock--lg > .inputBlock__addOn {
  padding-top: 14px;
}
.inputBlock--lg > .inputBlock__insetAddon {
  margin-top: 10px;
}

/*Input block with inset addon*/

.inputBlock__insetAddon {
  position: absolute;
  color: #51d0ef;
  font-size: 1.65rem;
  font-weight: bold;
  margin-left: 8px;
}

.inputBlock__insetAddon + .inputBlock__control {
  padding-left: 42px;
  color: #c3ced9;
  border-radius: 3px;
}

/*Input block with button addon*/
.inputBlock__button {
  border: none;
  height: 100%;
  padding: 0 12px;
  border: 1px solid #E1EDF0;
  border-radius: 3px 0 0 3px;
  border-right: none;
  background: #c3ced9;
  color: #fff;
  font-size: .9rem;
  -webkit-transition: background .5s ease-in-out, color .5s;
}

.inputBlock__button:focus {
  outline: none;
}

.inputBlock__button:hover {
  background: #51d0ef;
  color: #fff;
  cursor: pointer;
}

.inputBlock__buttonRt {
  border-radius: 0 3px 3px 0;
  border-left: none;
}
.inputBlock__button + .inputBlock__control {
  border-radius: 0 3px 3px 0;
}
