
.jumbotron {
    margin: 10px auto;
    padding:10px;
    width: 600px;
    border-radius: 5px;
    box-shadow: 0px 10px 24px 0px rgba(68, 68, 68, 0.1);
}

.jumbotron-title,
.jumbotron-location {
    color: #32383E;
    text-align: center;
}

.jumbotron-title {
    font-size: 4.5rem;
}

.jumbotron-location {
    font-size: 2.0rem;
}

.jumbotron-with-bg {
    background: #00ff00 url("https://static.pexels.com/photos/23049/pexels-photo.jpg") no-repeat fixed;
    background-size: auto;
}

.jumbotron-lead {
    font-size: 1rem;
    margin-top: 15px;
    text-align: center;
}

.jumbotron-lead-light {
    color: #F7F7F7;
}

.jumbotron-line {
    border: 1px solid #51D0EF;
    width: 80%;
    margin: 0 auto;
}

.jumbotron-line-light {
    border: 1px solid #324158;
}

.jumbotron .btn-default { 
    display: block;
    margin: 15px auto;
}






