.pages {
    display: flex;
    width: 100%;
    max-width: 500px;
    
}

.page-item {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 2.5rem;
    padding: .5rem;
    margin:0 5px;
    text-align: center;
   transition:background-color .3s ease;
}

.page-item.active,
.page-item.active:hover {
    background-color: #51d0ef;
}

.page-item:hover {
    background-color: #51d0ef;
    cursor: pointer;
    transition:background-color .3s ease;
}
.page-item a {
    color: rgb(128, 128, 128);
    text-decoration: none;
}
.page-item:hover a {
    color: #fff;
}
.page-item.active a {
    color: #fff;
}
.fa-angle-right:before,
.fa-angle-left:before {
    font-size: 25px;
}
.item-round {
  border-radius:50%;
  box-shadow:0 2px 0 #ccc;
}
.item-rhombic {
  margin-right:-10px;
  border-right:1px solid #ccc;
  transform:scale(1) translate(0,0) skew(-10deg,-20deg) rotate(20deg);
}
.item-rhombic a {
    transform:skew(30deg,0) rotate(0deg);
}