.ui-tabs {
  box-shadow: 0px 10px 24px 0px rgba(68, 68, 68, 0.1);
}

.ui-tabs input {
  display:none;
}

.tabs {
  position: relative;
  width: 40rem;
  height: 19rem;
  margin: 2rem auto;
  border-left: 1px solid #f5f7fb;
}

.tab-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem 2rem;
  margin:3rem 0 0 0;
  min-height: 12rem;
  background: #fff;
}
.tab-container:nth-child(1) {
  z-index:1;
}

.tabs h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 2rem 0 0 0;
  text-align: left;
  color: #333;
}

.tabs p {
  padding: 1rem 0;
  color: rgba(128, 128, 128, 0.76);
  font-size: 14px;
  font-weight: 100;
  letter-spacing: .02rem;
  line-height: 1.5rem;
  text-align: left;
}



.tab-nav {
  min-width: 7rem;
  height: 1.8rem;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal;
  color: #999;
  text-transform: uppercase;
}

.tab-nav-vertical {
  position: absolute;
  top: 2.4rem;
  left: -7rem;
  text-align: right;
}

.tab-container:nth-child(2) .tab-nav-vertical {
  top: 5rem;
}

.tab-container:nth-child(3) .tab-nav-vertical {
  top: 7.5rem;
}

.tab-nav-vertical a {
  display: block;
  width: 100%;
  line-height: 1.8rem;
  text-decoration: none;
  color: inherit;
  outline: 0 none;
  padding-right: 1rem;
}

.tab-container,
.tab-nav-vertical {
  transition: all 500ms ease;
}

.tab-container:target,
.tab-container:target .tab-nav-vertical {
  background-color: #fff;
  color: #51d0ef;
  z-index: 2;
}

.tab-container:target .tab-nav-vertical {
  border-right: 2px solid #51d0ef;
}


/*tab-nav with line decoration*/

.tab-nav-horizontal {
  position: absolute;
  top: -2.5rem;
  left: 0;
  padding: .5rem 0 0 0;
  text-align: center;
 
}
.tab-nav-line-dec {
   border-top:2px solid #CDD0D4;
}

.tab-nav-line-dec:before {
  content:"";
  position:absolute;
  top:-2px;
  right:0;
  border-top:1.8rem solid #CDD0D4;
  border-right:.5rem solid transparent;
  border-left:.5rem solid transparent;

}
.tab-nav-line-dec:after {
  content:"";
  position:absolute;
  top:-3px;
  right:-1.5px;
  border-top:1.8rem solid #fff;
  border-right:.5rem solid transparent;
  border-left:.5rem solid transparent;
}
.tab-container:nth-child(2) .tab-nav-horizontal {
  left: 8rem;
}

.tab-container:nth-child(3) .tab-nav-horizontal {
  left: 16rem;
}

#tab-line-1 ~  .tab-content,
#tab-line-2 ~  .tab-content,
#tab-line-3 ~  .tab-content {
  z-index:0;
}

#tab-line-1:checked ~ .tab-content,
#tab-line-2:checked ~ .tab-content,
#tab-line-3:checked ~ .tab-content {
  z-index:2;
  background:#fff;
}
#tab-line-1:checked ~ .tab-nav-line-dec,
#tab-line-2:checked ~ .tab-nav-line-dec,
#tab-line-3:checked ~ .tab-nav-line-dec {
  color:#51D0EF;
  border-top:2px solid #51D0EF;
  transition: all 300ms ease-in-out;
}

#tab-line-1:checked ~ .tab-nav-line-dec:before,
#tab-line-2:checked ~ .tab-nav-line-dec:before,
#tab-line-3:checked ~ .tab-nav-line-dec:before { 
  border-top:1.8rem solid #51D0EF;
  transition: all 300ms ease-in-out;
}

/*tab nav with underline*/
.tab-nav-underline {
  border-bottom:3px solid #BDBDBD;
}
.tab-nav-underline:after {
  content:"";
  position:absolute;
  left:0;
  bottom:-3px;
  height:3px;
  background:#4BC5E2;
}
#tab-underline-1 ~ .tab-nav-underline:after,
#tab-underline-2 ~ .tab-nav-underline:after,
#tab-underline-3 ~ .tab-nav-underline:after,
#tab-underline-1:checked ~ .tab-nav-underline:after,
#tab-underline-2:checked ~ .tab-nav-underline:after,
#tab-underline-3:checked ~ .tab-nav-underline:after {
  transition: width .5s ease-in-out;
}
#tab-underline-1 ~ .tab-nav-underline:after,
#tab-underline-2 ~ .tab-nav-underline:after,
#tab-underline-3 ~ .tab-nav-underline:after {
  width:0%;
  
}
#tab-underline-1:checked ~ .tab-nav-underline:after,
#tab-underline-2:checked ~ .tab-nav-underline:after,
#tab-underline-3:checked ~ .tab-nav-underline:after {
  width:100%;
}

#tab-underline-1 ~ .tab-content,
#tab-underline-2 ~ .tab-content,
#tab-underline-3 ~ .tab-content {
  z-index:0;
  
}
#tab-underline-1:checked ~ .tab-content,
#tab-underline-2:checked ~ .tab-content,
#tab-underline-3:checked ~ .tab-content {
  z-index:2;
  background:#fff;
}