@import url("reset.css");
@import url("prism.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("components/carousel.css");
@import url("components/button.css");
@import url("components/form.css");

* {
  box-sizing: border-box;
}
.page-content {
  background: #f3f5f8;
}

/*Main UI element container surrounding all UI elements*/
.ui-element-main { 
  max-width: 1050px;
  margin: 50px auto; 
  padding:  60px 65px;
  box-shadow: 0 0 1px #e8eff7;
  background: #fff;
  border-radius: 3px;
}

/*Parent level element heading*/
.main-ui-heading {
  color: #2c3339;
  font-size: 1.8rem;
}
.main-element-description {
  margin: 24px 0 44px;
  color: #879eb2;
  
}
/*Container surrounding each individual UI element*/
.ui-element-container {
  margin: 50px 0;
  padding-bottom: 44px;
  border-bottom: 2px solid #f5f7fb;
}

/*child level element heading*/
.ui-element-heading {
  margin-bottom: 28px;
  color: #62652a;
  font-size: 1.3rem;
  
}

.ui-element-description {
  margin-bottom: 28px;
  color: #879eb2;
}

/*Positioning of UI-Element in section  */
.ui-element {
  display: flex;
  flex-direction: column;
  margin: 14px 0 20px;
}


/*Show Markup container*/

/* Show markup button */
/* Whomever is doing button compents maybe doubl-check what I did here. */
.btn-full-width {
  -webkit-transition: background .5s, color .5s;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #e4edfb;
  color: #7d95ab;
  font-size: .9rem;
  height: 45px;
  width: 100%;
}
/* Class added to change bottom radius of button when language markup is displayed */
.btn-bottom-no-radius {
  border-radius: 3px 3px 0 0;
}

.btn-full-width:focus {
  outline: 0;
}

.btn-full-width:hover {
  background: #51d0ef;
  color: #fff;
  cursor: pointer;
}